{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"

    // "transform-decorators-legacy",
    // "transform-object-rest-spread",
    // "transform-regenerator",
    // ["transform-runtime", {
    //   "helpers": false,
    //   "polyfill": false,
    //   "regenerator": true,
    //   "moduleName": "babel-runtime"
    // }]
  ]
}
