.button {
    cursor: pointer;

    padding: 10px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0 1px #d205ea;
    background: white;
}

.button:hover {
    box-shadow: 0 0 0 2px #e600ff;
}

.buttonFocusMouse:focus {
    outline: none;   
}

.buttonFocusKeyboard:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e600ff;
}
